* {
    box-sizing: border-box;
}

:root {
    --color: #ffffff;
}

::selection,
::-moz-selection {
  background: #ffffff;
}

body {
    margin:0;
    padding:20px;
    background-image: url(paper/6.gif);
    background-size: 20vw;
    font-size: 1.1rem;
    color:#8f8c82;
    height:100vh;
    position: relative;
}

body.flex-demo {
  /* white-space: nowrap; */
  overflow-x: auto;
  display: flex;
  padding:0;
}

a {
  color: #8f8c82;
}

img {
  max-width: 100%;
  /* border-radius: 2px; */
}

ul {
  /* background: #fffff0; */
  padding:1rem;
  width:500px;
  margin:0;
}

ol {
  margin:0;
  padding-left:20px;
}

li {
  margin-bottom:.5rem;
}

button {
  background:transparent;
  border-radius:5px;
  border-width:1px;
  padding:5px;
  color:inherit;
}



.grid {
  /* background:lightgrey; */
  height:100%;
  padding:10px;
  /* padding-top:15%; */
  /* padding-bottom:15%; */
}

.grid-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  height:100%;
  gap:40px;
  padding:70px 120px;
  /* white-space: nowrap; */
  /* width:150%; */
}

.grid-item { 
  /* width: 100px; */
  /* background:lightblue; */
  /* height:100px; */
  /* border:1px solid; */
  max-width:150px;
  max-height:150px;
  mix-blend-mode: multiply;
  transition:margin .5s;
  position: static;
  flex-shrink: 0;
}

.grid-item.irregular {
  position:relative;
}

.grid-item:hover {
  /* margin:30px; */
}

.grid .grid-item {
  margin-right:10px;
}

.menu {
  width:400px;
  padding:0 60px 0 20px;
  /* background-color: red; */
  height:100%;
  order:99999;
  border-left:1px solid;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}