* {
  box-sizing: border-box;
}

:root {
  --text: #f1f3b8;
  /* --text: #f3f776;
  --text: #f7bb76;
  --text: #ffbea0;
  --text: #c7d2f1;
  --text: #c7f1ea;
  --text: #c7f1c9;
  --text: #e0c7f1; */
  /* --bg: #5b7154; */
  --bg: #2c332a;
}

::selection,
::-moz-selection {
  background: #6d9934;
}

body {
  margin:0;
  padding:0 2rem 2rem 2rem;
  background: var(--bg);
  color:var(--text);
  font-family: sans-serif;
  font-size: 105%;
  transition: color 10s;
}

p {
  margin:1rem 0;
}

figure {
  margin:0;
}

figcaption {
  font-size: .9rem;
  margin-top:.5rem;
  /* font-family: monospace; */
}

img {
  max-width: 100%;
  max-height: 600px;
}

h2 {
  font-weight: normal;
  margin-top:2rem;
  letter-spacing: 4px;
}

a {
  color: var(--text);
}

a:hover {
  color:#6d9934;
}

.window {
  background:var(--text);
  position:fixed;
  /* right:2rem; */
  left: 895px;
  top:2rem;
  top:50px;
  width:190px;
  display: flex;
  transition: background 10s;
}

main {
  max-width: 800px;
}

.list-item {
  background: var(--bg);
  /* border-top:1px dotted; */
}

summary {
  cursor:pointer;
  transition:background 1s;
}

summary .drop::before {
  content: '+'
}

details[open] summary .drop::before {
  content: '-'
}

/* summary:hover {
  background:var(--text);
  color: var(--bg);
} */

.grid {
  background: var(--bg);
  display: flex;
  /* position:sticky; */
  /* top:60px; */
  /* border-top:1px dotted; */
  border-bottom:1px dotted;
}

summary.grid {
  position:sticky;
  top:60px;
}

.grid:first-of-type {
  border-top:none;
}

.grid span {
  padding:.5rem;
}

.header {
  position:sticky;
  top:0;
  padding-top:1rem;
  padding-bottom:.5rem;
  background: var(--bg);
  /* height:1rem; */
  margin-top:90px;
  z-index: 99;
  border-top:none;
  border-bottom:none;
  height:61px;
  align-items: center;
  font-size:90%;
}

.drop {
  width:5%;
}

.title {
  width:40%;
  margin-right:.7rem;
  /* border-right:1px dotted; */
}

.author {
  width: 40%;
  /* border-right:1px dotted; */
}

.year {
  width: 15%;
}

.inner {
  padding-left:calc(5% + .3rem);
  padding-right:15%;
  padding-bottom:1rem;
  margin-top:1rem;
  background: var(--bg);

}