* {
    box-sizing: border-box;
}

img {
  max-width:200px;
  width:100%; 
}

img.large {
    transform: scale(3);
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-size:17px;
    line-height: 1.4rem;
}

body {
    background-color:#D9D9D9;
    margin:0;
    padding:1rem;
    color:#1d1d1d;
    word-spacing: 1px;

    font-family: "Nanum Gothic Coding";
    
}

body.nanum {
    font-family: "Nanum Gothic Coding";
}

body.rounded {
    font-family: "M PLUS Rounded 1c";
}

body.inconsolata {
    font-family: "Inconsolata";
}

body.assistant {
    font-family: "assistant";
}

body.gothic {
    font-family: "Gothic A1";
}

body.barlow {
    font-family: "Barlow";
}

body.questrial {
    /* font-size:16px; */
    letter-spacing: .2px;
    font-family: "Questrial";
}

body.montserrat {
    font-size:15px;
    font-family: "Montserrat";
}

.words {
    /* background:red; */
    margin:1rem auto;
    max-width:700px;
    /* text-align: justify; */
}

.word {
    cursor:grab;
}

.word:hover {
    /* background-color: rgb(205, 205, 205); */
}

h2 {
    text-align: center;
    margin-top:3rem !important;
    font-weight: 500;
    word-spacing: 1px;
    font-size: 1.3em;
}

.gallery {
    display: flex;
    width:100%;
    gap:1rem;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.debug {
    position: fixed;
    bottom:10px;
    left:10px;
}

.debug-menu {
    display: none;
}

.debug-menu.active {
    display: block;
}

button {
    border:none;
    background:#c6c6c6;
    padding:.3rem;
    height:1.3rem;
}

button:hover {
    background:#1d1d1d;
    color:#D9D9D9;
}

.debug-btn {
    margin-top:.5rem;
}