* {
    box-sizing: border-box;
}

img {
  max-width:200px;
  width:100%; 
}

img.large {
    transform: scale(3);
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-size:17px;
    line-height: 1.3rem;
}

body {
    background-color:#D9D9D9;
    margin:0;
    padding:1rem;
    color:#1d1d1d;

    
    font-family: "Nanum Gothic Coding";
    /* font-family: "M PLUS Rounded 1c"; */
    /* font-family: "Inconsolata"; */
    /* font-family: "assistant"; */
    /* font-family: "Gothic A1"; */
    /* font-family: "Barlow"; */
}

.words {
    /* background:red; */
    margin:1rem auto;
    max-width:700px;
    /* text-align: justify; */
}

.word {
    cursor:grab;
}

.word:hover {
    /* background-color: rgb(205, 205, 205); */
}

h2 {
    text-align: center;
    margin-top:3rem !important;
    font-weight: 500;
}

.gallery {
    display: flex;
    width:100%;
    gap:1rem;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}





