* {
  box-sizing: border-box;
}

:root {
  --color: #302E24;
}

::selection,
::-moz-selection {
  background: #ffffff;
}

@font-face {
  font-family: 'tt2020';
  src: url(font/tt2020b-r.woff2);
  font-style: normal;
}

@font-face {
  font-family: 'tt2020';
  src: url(font/tt2020b-i.woff2);
  font-style: italic;
}

html {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'tt2020';

}

body {
  margin:0;
  background: #c7c8ad;
  color: var(--color);
  opacity:0;
  transition: opacity .3s ease;
  font-size: 1.1rem;
}

img {
  /* width: 100%; */
  max-width: 250px;
  max-height: 250px;
}

.exosphere {
  display: flex;
  flex-direction: column;
  height:100vh;
  width:100vw;
  justify-content: space-around;
  align-items: center;
  padding:1rem;
  overflow: hidden;
  position: relative;
}

.mesosphere {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: -1;
  background-image: url(img/bg1.gif);
  opacity:.2;
  background-size:130px;
}

#ritual {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height:50px;
  /* background: red; */
  text-align: center;
}

#sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height:50px;
  /* background: red; */
}

.stratosphere {
  transform: scale(.8);
}

#earth {
  position: relative;
  width:300px;
  height:300px;
  border:1.2px solid;
  background-position: center;
  background-size: cover;
  margin:50px 0;
  border-radius: 0px;
}

.zero {
  transform:rotate(360deg);
}

.fifteen {
  transform:rotate(90deg);
}

.thirty {
  transform:rotate(180deg);
}

.fortyfive {
  transform:rotate(270deg);
}

.num {
  position: absolute;
  width:20px;
  height:20px;
  /* background: var(--color); */
  /* background: white; */
  /* border:1px solid; */
}

.head {
  width:300px;
  height:150px;
  top:-150px;
  left:calc(50% - 150px);
  /* background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat; */
}

.r-hand {
  top:calc(50% - 10px);
  right:-20px;
}

.belly {
  width:299px;
  height:300px;
  bottom:-1px;
  left:-1px;
}

.feet {
  bottom:-150px;
  left:calc(50% - 150px);
  
  width:300px;
  height:150px;
}

.l-hand {
  top:calc(50% - 10px);
  left:-20px;
}

@media screen and (max-width:600px) {
  body {
    font-size:90%;
  }

  .stratosphere {
    transform:scale(.6);
  }
  
  #earth {
    margin:0;
  }

  #ritual {
    text-align: center;
  }
}