* {
  box-sizing: border-box;
}

:root {
  --color: #302E24;
}

::selection,
::-moz-selection {
  background: #ffffff;
}

@font-face {
  font-family: 'tt2020';
  src: url(font/libertinusmono.woff2);
  font-style: normal;
}

html {
  font-family: 'tt2020', Courier, monospace;
  height:100%;
  width:100%;
}

body {
  margin:0;
  background: #c7c8ad;
  color: var(--color);
  opacity:0;
  transition: opacity .3s ease;
  font-size: 1.1rem;
  font-size: .9rem;
  height:100%;
  width:100%;
  position: fixed;
  overflow: hidden;
  
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.exosphere {
  height:100%;
  width:100%;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
}

.thermosphere {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: -1;
  opacity:.3;
  background-size:40px;
}

.mesosphere {
  width:100%;
  height:100%;
}

.stratosphere {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;
  height:100%;
  width:100%;
}

#ritual {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height:50px;
  text-align: center;
  padding: 0 30px;
}

#sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height:50px;
  padding: 0 30px;
}

#earth {
  position: relative;
  width:240px;
  height:240px;
  border:1.2px solid;
  background-position: center;
  background-size: cover;
  margin:50px 0;
  border-radius: 0px;
  background-color:#b1b29b;
}

.zero {
  transform:rotate(360deg);
}

.fifteen {
  transform:rotate(90deg);
}

.thirty {
  transform:rotate(180deg);
}

.fortyfive {
  transform:rotate(270deg);
}

.num {
  position: absolute;
}

.head {
  width:240px;
  height:100px;
  top:-100px;
  left:calc(50% - 120px);
  background-size: 100%;
}

.r-hand {
  top:calc(50% - 120px);
  right:-100px;

  height:240px;
  width:100px;
  background-size: 100%;
}

.belly {
  width:240px;
  height:240px;
  bottom:-1px;
  left:-1px;
  background-size: 100%;
}

.core {
  width:240px;
  height:240px;
  bottom:-1px;
  left:-1px;
  background-size: 100%;
}

.feet {
  bottom:-100px;
  left:calc(50% - 120px);
  
  width:240px;
  height:100px;
  background-size: 100%;
}

.l-hand {
  top:calc(50% - 120px);
  left:-100px;

  height:240px;
  width:100px;
  background-size: 100%;
}

@media screen and (max-width:600px) {
  body {
    font-size:80%;
    line-height: 140%;
  }

  .troposphere {
    transform:scale(.7);
  }
  
  #earth {
    margin:30px 0;
  }
}