* {
    box-sizing: border-box;
}

::selection {
    background:transparent;
}

img {
  width:100%; 
}

img.dr {
    max-width:250px;
}

img.large {
    transform: scale(3);
}

html, body {
    width: 100vw;
    overflow-x: hidden;
    font-size:17px;
    line-height: 1.4rem;
}

body {
    background-color:#D9D9D9;
    margin:0;
    padding:0;

    color:#1d1d1d;
    word-spacing: 1px;

    font-family: "M PLUS Rounded 1c";
}

a {
    color:#1d1d1d;
}

.btn {
    border:none;
    background:#c6c6c6;
    padding:.3rem;
    /* height:1.3rem; */
    font-family: inherit;
    font-size: 14px;
    pointer-events:all;
    text-decoration: none;
}

.btn:hover {
    background:#1d1d1d;
    color:#D9D9D9;
}

header {
    position:relative;
    /* height:100vh; */
    height:calc(100vh + 40px);
    background-image: url("opening.jpg");
    background-size: cover;
    background-position: bottom;
}

.fade {
    position: absolute;
    background:linear-gradient(
        rgba(217, 217, 217, 0),
        #d9d9d9);

    background: linear-gradient(180deg, 
    rgba(217, 217, 217, 0) 0%, 
    rgba(217, 217, 217, 1) 50%, 
    rgba(217, 217, 217, 1) 100%);
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    /* filter: blur(20px); */
    pointer-events: none;
}

main {
    padding:1rem 1rem 6rem 1rem;
}

.nanum {
    font-family: "Nanum Gothic Coding";
}

.rounded {
    font-family: "M PLUS Rounded 1c";
}

.inconsolata {
    font-family: "Inconsolata";
}

.assistant {
    font-family: "assistant";
}

.gothic {
    font-family: "Gothic A1";
}

.barlow {
    font-family: "Barlow";
}

.questrial {
    /* font-size:16px; */
    letter-spacing: .2px;
    font-family: "Questrial";
}

.montserrat {
    font-size:15px;
    font-family: "Montserrat";
}

.words {
    /* background:red; */
    margin:1rem auto;
    max-width:700px;
    /* text-align: justify; */
}

.word, .dr {
    cursor:grab;
}

h2 {
    text-align: center;
    margin-top:3rem !important;
    font-weight: 500;
    word-spacing: 1px;
    font-size: 1.3em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap:5vw;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    margin:3rem 0 5rem 0;
}

footer {
    /* background:red; */
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    gap:20%;

    position: fixed;
    bottom:0;
    width:100%;
    padding:2rem;
    z-index: 999;
    pointer-events:none;
}

.scatter {
    position: relative;
}

.debug {
    position: absolute;
    /* bottom:10px; */
    /* left:10px; */
    /* left:2rem; */
    margin-left:2rem;
    margin-bottom:2rem;
    pointer-events:all;
}

.debug.scatter {
    position: absolute;
}

.debug-menu {
    position: absolute;
    bottom:2rem;
    display: none;
    background:#D9D9D9;
    padding:.5rem;
    width:260px;
}

.debug-menu.active {
    display: block;
}

.debug-btn {
    /* margin-top:.5rem; */
    background: transparent;
    opacity:.4;
}

small {
    display: inline-block;
    margin-bottom:.3rem;
}

input[type="radio"] {
    margin:0;
}

.reset-btn {
    position: absolute;
    bottom:2.5rem;
    right:2.5rem;
    display: none;
}

.reset-btn.active {
    display: block;
    opacity:1;
}


.scrap {
    position: absolute;
    background:#f4e4e7;
    height:60px;
    width:60px;
    transition: 40s ease;
    border-radius:100%;
    filter:blur(10px);
    /* z-index: 999; */
    /* mix-blend-mode: difference; */
    border:10px solid rgb(175, 175, 175);
}

.scrap.being-dragged {
    transition:none;
}