* {
    box-sizing: border-box;
}

:root {
    --color: #ffffff;
}

::selection,
::-moz-selection {
  background: #ffffff;
}

body {
  margin:0;
  background-image: url(paper/6.gif);
  background-size: 20vw;
  font-size: 1.1rem;
  min-height:100vh;
  color:#8f8c82;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:crosshair;
}

a {
  color: #8f8c82;
}

img {
  max-width: 100%;
}

ul {
  /* background: #fffff0; */
  padding:1rem;
  width:200px;
  margin:0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* width:1000px; */
}

.tile {
  width: 5vw;
  height:5vw;
  border-bottom:1px solid;
  border-left:1px solid;
  mix-blend-mode:multiply;
  /* transition:background .2s; */
}

.tile:hover {
  background:#fffde4;
}

.tile:active {
  background:#d7ffa6;
}

.water {
  background:#b9d6e0;
}

.sand {
  background:#d4c7ac;
}

.mystic {
  background: #dbc4da;
}

@media screen and (max-width:1000px) {
  body {
    background-size:30vw;
  }
  
  .tile {
    width:10vw;
    height:10vw;
  }
}

@media screen and (max-width:600px) {
  body {
    background-size:50vw;
  }

  .tile {
    width:12.5vw;
    height:12.5vw;
  }
}